<!--The content below is only a placeholder and can be replaced.-->

<h1 class="mx-auto w-25"> Hasura proof of concept</h1>

<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="taskName">Insert the task name:</label>
    <input name="taskName" class="form-control" placeholder="Task name" formControlName="taskName" required>
  </div>
</form>

<table *ngIf="tasks.length > 1">
  <tr>
    <th>
      Id
    </th>
    <th>
      Name
    </th>
    <th>
      Completed
    </th>
  </tr>

  <tr *ngFor="let task of tasks">
    <td>{{task.getId()}}</td>
    <td>{{task.getTitle()}}</td>
    <td><input type="checkbox" name="complete" [value]="task.getId()" [checked]="task.isCompleted()"></td>
  </tr>

</table>